<!DOCTYPE html><html lang="en">
<head>
<meta charset="UTF-8">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="AniMixPlay">
<meta name="apple-mobile-web-app-title" content="AniMixPlay">
<meta name="msapplication-starturl" content="/">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no">
<meta property="og:image" content="/icon.png">
<meta property="og:title" content="AniMixPlay - Watch HD Anime for Free">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="theme-color" content="#191919">
<meta name="referrer" content="no-referrer" />
<meta name="twitter:card" content="summary">
<link rel="icon" href="/icon.png">
<link rel="apple-touch-icon" href="/icon.png">
<link rel="manifest" href="/assets/s/manifest.json">
<title>AniMixPlay - Watch HD Anime for Free</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
<link rel="stylesheet" href="/assets/fonts.min.css">
<link rel="stylesheet" type="text/css" href="/assets/style.min.css">
<script type="text/javascript" src="/assets/main.min.js?2" defer></script>
<meta property="og:description" content="Watch Anime for free in HD quality with English subbed or dubbed."><meta name="description" content="Watch Anime for free in HD quality with English subbed or dubbed.">
</head>
<body style="background-color:rgb(25,25,25)">
<div id="coverlight" style="z-index:8"></div>
<div id="loadcontainer"><div class="loadindicator"></div></div>
<div class="toppart">
<div id="songContent" class="floattopsearch">
<a id="backiconhome" onclick="window.history.back()"><i class="glyphicon glyphicon-chevron-left"></i></a>
<a id="homeicon" onClick="backhome()"><i class="glyphicon glyphicon-home"></i></a>
<div id="searchbox">
<input type="text" style="display:none">
<input type="password" style="display:none">
<img onClick="backhome()" alt="AnimixPlay" class="webtitle" src="/assets/logo.png" />
<input class="form-control searchbar" placeholder="Search" autocomplete="off" id="q" type="search" onfocus="searchfocused()" onblur="searchblur()" />
<button id="searchbutton" onClick="searchfull()"><i class="glyphicon glyphicon-search"></i></button>
<a class="topmenubtn" title="Random anime" href="/random"><i class="glyphicon glyphicon-random"></i>Random</a>
<a class="topmenubtn" title="A-Z List" href="/list">A-Z List</a>
</div>
<button id="menumobilebtn" OnClick="showmobilemenu()"><i class="glyphicon glyphicon-menu-hamburger"></i></button>
<button id="showsearchbtn" OnClick="togglesearch()"><i class="glyphicon glyphicon-search"></i></button>
</div>
</div>
<div class="quicksearchcontainer"><div class="resultcontainer">
<div id="fullresultbtn">
<a onClick="searchfull()">Full</a><a onClick="searchE1()">GOGO</a><a onClick="searchE7()">API</a><a onClick="searchE11()">AL</a><a onClick="searchE6()">RUSH</a><a onClick="searchMAL()">MAL</a>
</div>
<ul class="quickresult"></ul>
</div></div>
<div class="middle">
<div id="flexcontainer">
<div class="leftside">
<div id="pwaContainer">
AniMixPlay PWA available<button id="pwaButton" class="btn btn-primary">Install App</button>
</div>
<div id="featuredcard">
<div id="featuredbgcont">
<img id="featuredbg" src="https://cachecow.eu/min/mal/1612/120636.jpg" />
</div>
<div id="featuredcont">
<a href="/anime/49520/Aharen-san_wa_Hakarenai"><img id="featuredimg" src="https://cachecow.eu/min/mal/1612/120636.jpg" /></a>
<div id="featuredtitle"><a href="/anime/49520/Aharen-san_wa_Hakarenai">Aharen Is Indecipherable</a></div>
<div id="featuredtext">
Daily life of the short and quiet Reina Aharen and Raidou who sits next to her. Aharen is not so good at gauging the distance between people. One day, when Raidou picked up the eraser that Aharen had dropped, the distance between them suddenly became uncomfortably close.
</div>
<div id="featuredgenre"><i class="glyphicon glyphicon-tag"></i> Comedy, Iyashikei, School, Shounen</div>
<a id="featuredNext" onClick="showFeatured(curFeatured + 1)"><i class="glyphicon glyphicon-chevron-right"></i></a>
<a id="featuredBack" onClick="showFeatured(curFeatured - 1)"><i class="glyphicon glyphicon-chevron-left"></i></a>
</div>
</div>
<div id="announcement">
We have multiple stream types for each anime, so use what works best for you.<br>
If you got problem try <i class="glyphicon glyphicon-repeat"></i> reload the player or try different server on external player.<br>
<br>
For mobile users, you can swipe left / right to open menu, schedule, and stream list.<br>
You can also install PWA (add to homescreen) to launch AniMixPlay like an app.<br>
<br>
Read more info in our <a href="/faq.html">FAQ</a> page, or join <a href="https://discord.gg/X3CPwyefHz" rel="noreferrer" target="_blank">discord</a>.<br>
</div>
<button type="button" id="readmorebtn" onClick="readmore()" class="btn btn-secondary btn-sm btn-lg btn-block"><i class="glyphicon glyphicon-menu-down"></i></button>
<button type="button" id="openschedulebtn" onClick="showschedulemenu()"><i class="glyphicon glyphicon-calendar"></i> Schedule</button>
<div id="navtab">
<ul class="nav nav-tabs">
<li id="allbtn" class="active" onClick="showall()"><a>New Eps</a></li>
<li id="followedbtn" onClick="showfollow()"><a>Followed</a></li>
<li id="recentbtn" onClick="showrecent()"><a>Recent</a></li>
<li id="popularbtn" onClick="showpopular()"><a>Popular</a></li>
<li id="moviebtn" onClick="showmovie()"><a>Movie</a></li>
</ul>
</div>
<div id="seasontopnav">
<div id="prevseasonbtn" onClick="seasonPrev()">< Previous season</div>
<div id="nextseasonbtn" onClick="seasonNext()">Next season ></div>
<select id="topfilterselect" onchange="seasonFilterChange()">
<option value="all">Show all</option>
<option value="new">New</option>
<option value="continuing">Continuing</option>
</select>
</div>
<div id="genresortbtn">
Sort by :
<select id="topsortselect" onchange="filterSortChange()">
<option value="any">none</option>
<option value="popular" selected>Popularity</option>
<option value="rating">Rating</option>
<option value="latest">Latest added</option>
</select>
</div>
<div id="resultplace"><ul class="searchresult"><li><a href="/v1/aharen-san-wa-hakarenai-dub/ep4" title="Aharen-san wa Hakarenai (Dub)">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/eec417e83c7c926fd73e95eae2828538.jpg" />
<div class="timetext">2022-05-06 20:56:19</div>
<div class="rating">0</div>
</div>
<div class="details">
<p class="name">Aharen-san wa Hakarenai (Dub)</p>
<p class="infotext">EP 4/?</p>
</div>
</a></li><li><a href="/v1/dance-dance-danseur/ep5" title="Dance Dance Danseur">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/e40cead83238ce2335ebba27dc3fced0.jpg" />
<div class="timetext">2022-05-06 18:55:04</div>
<div class="rating">752</div>
</div>
<div class="details">
<p class="name">Dance Dance Danseur</p>
<p class="infotext">EP 5/11</p>
</div>
</a></li><li><a href="/v1/cue/ep17" title="Cue!">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/af41db3d27e8ac8040e933c1e1a755cd.jpg" />
<div class="timetext">2022-05-06 18:35:03</div>
<div class="rating">643</div>
</div>
<div class="details">
<p class="name">Cue!</p>
<p class="infotext">EP 17/24</p>
</div>
</a></li><li><a href="/v1/aharen-san-wa-hakarenai/ep6" title="Aharen-san wa Hakarenai">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/178b84e7dbda4b0f2eb26d7e33c87c01.jpg" />
<div class="timetext">2022-05-06 18:20:03</div>
<div class="rating">744</div>
</div>
<div class="details">
<p class="name">Aharen-san wa Hakarenai</p>
<p class="infotext">EP 6/?</p>
</div>
</a></li><li><a href="/v1/rikei-ga-koi-ni-ochita-no-de-shoumei-shitemita-heart/ep6" title="Science Fell in Love, So I Tried to Prove It r=1-sinθ">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/f44ffd000dea9398922b58a8e6620618.jpg" />
<div class="timetext">2022-05-06 16:55:03</div>
<div class="rating">750</div>
</div>
<div class="details">
<p class="name">Science Fell in Love, So I Tried to Prove It r=1-sinθ</p>
<p class="infotext">EP 6/?</p>
</div>
</a></li><li><a href="/v1/shokei-shoujo-no-virgin-road/ep6" title="The Executioner and Her Way of Life">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/cf99e5f2939382f373a0e092240e9212.jpg" />
<div class="timetext">2022-05-06 16:45:05</div>
<div class="rating">687</div>
</div>
<div class="details">
<p class="name">The Executioner and Her Way of Life</p>
<p class="infotext">EP 6/12</p>
</div>
</a></li><li><a href="/v1/kaguya-sama-wa-kokurasetai-ultra-romantic/ep5" title="Kaguya-sama: Love Is War - Ultra Romantic">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/ff3e548e932b6c7873c45bb97b4ccc91.jpg" />
<div class="timetext">2022-05-06 16:40:03</div>
<div class="rating">894</div>
</div>
<div class="details">
<p class="name">Kaguya-sama: Love Is War - Ultra Romantic</p>
 <p class="infotext">EP 5/?</p>
</div>
</a></li><li><a href="/v1/date-a-live-iv/ep5" title="Date A Live IV">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/02e0bc19b62cc48948eabd270c123b14.jpg" />
<div class="timetext">2022-05-06 14:25:04</div>
<div class="rating">795</div>
</div>
<div class="details">
<p class="name">Date A Live IV</p>
<p class="infotext">EP 5/12</p>
</div>
</a></li><li><a href="/v1/koi-wa-sekai-seifuku-no-ato-de/ep5" title="Love After World Domination">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/f71ad5a61429323193b82563fb97c4a0.jpg" />
<div class="timetext">2022-05-06 14:05:03</div>
<div class="rating">747</div>
</div>
<div class="details">
<p class="name">Love After World Domination</p>
<p class="infotext">EP 5/12</p>
</div>
</a></li><li><a href="/v1/onipan/ep4" title="Onipan!">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/c867bb0166b7d68d312c0d935b4a141c.jpg" />
<div class="timetext">2022-05-06 03:50:03</div>
<div class="rating">612</div>
</div>
<div class="details">
<p class="name">Onipan!</p>
<p class="infotext">EP 4/?</p>
</div>
</a></li><li><a href="/v1/shinka-no-mi-shiranai-uchi-ni-kachigumi-jinsei-dub" title="The Fruit of Evolution: Before I Knew It, My Life Had It Made (Dub)">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/f0d430529c8f78d1ce8e6fc484de7495.jpg" />
<div class="timetext">2022-05-06 03:21:38</div>
<div class="rating">615</div>
</div>
<div class="details">
<p class="name">The Fruit of Evolution: Before I Knew It, My Life Had It Made (Dub)</p>
<p class="infotext">EP 1/12</p>
</div>
</a></li><li><a href="/v1/tsuki-ga-michibiku-isekai-douchuu-dub/ep2" title="Tsukimichi -Moonlit Fantasy- (Dub)">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/075326428b282da77c594eaedb0df2f8.jpg" />
<div class="timetext">2022-05-05 23:39:47</div>
<div class="rating">772</div>
</div>
<div class="details">
<p class="name">Tsukimichi -Moonlit Fantasy- (Dub)</p>
<p class="infotext">EP 2/12</p>
</div>
</a></li><li><a href="/v1/gaikotsu-kishi-sama-tadaima-isekai-e-odekakechuu-dub/ep2" title="Skeleton Knight in Another World (Dub)">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/ac8f37ad6ba1ca8e48f11944b6e966ad.jpg" />
<div class="timetext">2022-05-05 23:39:16</div>
<div class="rating">732</div>
</div>
<div class="details">
<p class="name">Skeleton Knight in Another World (Dub)</p>
<p class="infotext">EP 2/12</p>
</div>
</a></li><li><a href="/v1/heroine-tarumono-kiraware-heroine-to-naisho-no-oshigoto-dub/ep3" title="To Become a Real Heroine! The Unpopular Girl and the Secret Task (Dub)">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/8d6db6068f1df5048f93fd83c6a9867e.jpg" />
<div class="timetext">2022-05-05 23:38:44</div>
<div class="rating">722</div>
</div>
<div class="details">
<p class="name">To Become a Real Heroine! The Unpopular Girl and the Secret Task (Dub)</p>
<p class="infotext">EP 3/12</p>
</div>
</a></li><li><a href="/v1/ginga-eiyuu-densetsu-die-neue-these-gekitotsu/ep32" title="Ginga Eiyuu Densetsu: Die Neue These - Gekitotsu">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/bddef21b882a69395a38230d3fe94bf9.jpg" />
<div class="timetext">2022-05-05 23:37:57</div>
<div class="rating">807</div>
</div>
<div class="details">
<p class="name">Ginga Eiyuu Densetsu: Die Neue These - Gekitotsu</p>
<p class="infotext">EP 32/12</p>
</div>
</a></li><li><a href="/v1/ginga-eiyuu-densetsu-die-neue-these-gekitotsu-dub/ep5" title="Ginga Eiyuu Densetsu: Die Neue These - Gekitotsu (Dub)">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/01fc5c6fcd3d461f692937b3f4e5e359.jpg" />
<div class="timetext">2022-05-05 23:33:11</div>
<div class="rating">807</div>
</div>
<div class="details">
<p class="name">Ginga Eiyuu Densetsu: Die Neue These - Gekitotsu (Dub)</p>
<p class="infotext">EP 5/12</p>
</div>
</a></li><li><a href="/v1/mahoutsukai-reimeiki-dub/ep3" title="The Dawn of the Witch (Dub)">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/9a4a8180046cf07944f43c19c91c1918.jpg" />
<div class="timetext">2022-05-05 21:35:20</div>
<div class="rating">625</div>
</div>
<div class="details">
<p class="name">The Dawn of the Witch (Dub)</p>
<p class="infotext">EP 3/12</p>
</div>
</a></li><li><a href="/v1/summertime-render/ep4" title="Summer Time Rendering">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/1cd3c66382736e7976ba6c25d3d3f8b8.jpg" />
<div class="timetext">2022-05-05 21:25:03</div>
<div class="rating">825</div>
</div>
<div class="details">
<p class="name">Summer Time Rendering</p>
<p class="infotext">EP 4/25</p>
</div>
</a></li><li><a href="/v1/mahoutsukai-reimeiki/ep5" title="The Dawn of the Witch">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/3ad7559d87e8c1c17a8da36ad2957724.jpg" />
<div class="timetext">2022-05-05 18:50:04</div>
<div class="rating">625</div>
</div>
<div class="details">
<p class="name">The Dawn of the Witch</p>
<p class="infotext">EP 5/12</p>
</div>
</a></li><li><a href="/v1/machikado-mazoku-2-choume/ep5" title="The Demon Girl Next Door 2">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/12e3604968798801969566e9d6933e4c.jpg" />
<div class="timetext">2022-05-05 17:45:03</div>
<div class="rating">778</div>
</div>
<div class="details">
<p class="name">The Demon Girl Next Door 2</p>
<p class="infotext">EP 5/12</p>
</div>
</a></li><li><a href="/v1/gaikotsu-kishi-sama-tadaima-isekai-e-odekakechuu/ep5" title="Skeleton Knight in Another World">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/d130f5c0a374f5e74c3f12bd7f02accf.jpg" />
<div class="timetext">2022-05-05 14:35:03</div>
<div class="rating">732</div>
</div>
<div class="details">
<p class="name">Skeleton Knight in Another World</p>
<p class="infotext">EP 5/12</p>
</div>
</a></li><li><a href="/v1/paripi-koumei/ep6" title="Ya Boy Kongming!">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/e31d84990453cfc62ac5854abfff4204.jpg" />
<div class="timetext">2022-05-05 14:20:02</div>
<div class="rating">839</div>
</div>
<div class="details">
<p class="name">Ya Boy Kongming!</p>
<p class="infotext">EP 6/12</p>
</div>
</a></li><li><a href="/v1/heroine-tarumono-kiraware-heroine-to-naisho-no-oshigoto/ep5" title="To Become a Real Heroine! The Unpopular Girl and the Secret Task">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/da4a63ded8083aec261774e64ab93f76.jpg" />
<div class="timetext">2022-05-05 14:00:03</div>
<div class="rating">720</div>
</div>
<div class="details">
<p class="name">To Become a Real Heroine! The Unpopular Girl and the Secret Task</p>
<p class="infotext">EP 5/12</p>
</div>
</a></li><li><a href="/v1/shachiku-san-wa-youjo-yuurei-ni-iyasaretai/ep5" title="Miss Shachiku and the Little Baby Ghost">
<div class="searchimg">
<img class="resultimg" alt="" src="https://cachecow.eu/i/8a19af5d4e28f9ccacfb4d02549e4296.jpg" />
<div class="timetext">2022-05-05 13:40:04</div>
<div class="rating">703</div>
</div>
<div class="details">
<p class="name">Miss Shachiku and the Little Baby Ghost</p>
<p class="infotext">EP 5/12</p>
</div>
</a></li></ul><div id="bottommsg"><div id="loadmorelist" OnClick="loadmorenewep();"><i class="glyphicon glyphicon-menu-down"></i> Load more</div></div></div>
<div id="loadingtext">
<svg class="spinner" width="75px" height="75px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
<circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg><br><br>Loading...
</div>
<div id="resultAlt"><div id="loadmoresearch">Loading...</div></div>
<br>
</div>
<div class="rightside" id="rightsidee">
<div class="rightcard">
<div class="loadingreplacement">Loading...</div>
<div class="usercard"></div>
</div>
<div class="rightcard signinhome" id="gsignsection">
<div class="subtitleright" style="border-bottom:none"></div>
<div id="gconnectbtn"><img id="gconnectbtnimg" onClick="connectGoogle()" src="https://cachecow.eu/s/gsign.jpg"></div>
</div>
<div class="rightcard mobilemenureplace">
<a class="topmenubtn" onClick="showschedulemenu()"><i class="glyphicon glyphicon-calendar"></i>Schedule</a>
<a class="topmenubtn" title="Random anime" href="/random"><i class="glyphicon glyphicon-random"></i>Random</a>
<a class="topmenubtn" title="A-Z List" href="/list">A-Z List</a>
</div>
<div class="rightcard">
<div class="flexrightcard" id="seasonfilter">
<div id="seasonleft">
<label for="seasonselect">Season:</label>
<select id="seasonselect">
<option value="Winter">Winter</option>
<option value="Spring">Spring</option>
<option value="Summer">Summer</option>
<option value="Fall">Fall</option>
</select>
</div>
<div id="yearright">
<label for="yearselect">Year:</label>
<select id="yearselect"></select>
</div>
<div style="flex:1">
<div id="seasonalgobtn" onClick="seasonGo()">GO</div>
</div>
</div>
</div>
<div class="rightcard">
<div class="subtitleright">Genres</div>
<div class="flexrightcard" id="genreplace">Action, Adventure, Anti-Hero, College, Comedy, Drama, Ecchi, Fantasy, Game, Harem, Historical, Horror, Idol, Isekai, Josei, Kids, Magic, Martial Arts, Mecha, Military, Music, Mythology, Mystery, Otaku, Parody, Philosophy, Police, Psychological, Racing, Revenge, Romance, Samurai, School, Sci-Fi, Seinen, Shoujo, Shoujo Ai, Shounen, Shounen Ai, Slice of Life, Space, Sports, Super Power, Supernatural, Survival, Suspense, Vampire, Work</div>
<button type="button" id="expandbtn" onClick="expandgenre()" class="btn btn-secondary btn-sm btn-lg btn-block"><i class="glyphicon glyphicon-menu-down"></i></button>
</div>
<div class="rightcard" style="border-top: 1px solid #3c3c3c;">
<div class="flexrightcard" id="filterplace">
<div class="halfleft">
<label for="typeselect">Stream:</label>
<select id="typeselect" onchange="typechange()">
<option value="0">Any</option>
<option value="1">GOGO Stream</option>
<option value="7">API Stream</option>
<option value="11">AL Stream</option>
<option value="6">RUSH Stream</option>
</select>
</div>
<div class="halfright">
<label for="langselect">Sub/Dub:</label>
<select id="langselect" onchange="langchange()">
<option value="any">Any</option>
<option value="sub">Sub</option>
<option value="dub">Dub</option>
</select>
</div>
</div>
</div>
<div class="rightcard" style="margin-bottom:20px">
<div class="subtitleright">Weekly Top</div>
<div id="ongoingplace" style="height:unset"></div>
<button type="button" id="expandbtn2" onClick="expandweekly()" class="btn btn-secondary btn-sm btn-lg btn-block"><i class="glyphicon glyphicon-menu-down"></i></button>
</div>
</div>
</div>
</div>
<div id="playerleftsidebar" class="schedulemenucontainer">
<button id="recomendedclosebtn" style="margin-left:10px" OnClick="showschedulemenu()"><i class="glyphicon glyphicon-arrow-left"></i></button>
<div id="seasontitle"></div>
<div id="scheduletimezone"></div>
<div id="recomendedlist" style="padding-top:unset"></div>
<div id="schedulenotice">Release time is estimated</div>
</div>
<div class="leftbottom">
<span id="donatelabel">Donate</span><a href="/donate.html" title="Bitcoin" target="_blank"><i class="customicon bitcoinicon"></i></a><a href="/donate.html" title="Ethereum" target="_blank"><i class="customicon ethereumicon"></i></a>
<div class="floatright">
<div class="togglelabel">Chat</div>
<label class="switch">
<input type="checkbox" id="enablechat">
<span class="slider round"></span>
</label> <a class="customicon rssicon" href="/rss.xml" target="_blank"></a><a class="customicon discordicon" href="https://discord.gg/X3CPwyefHz" rel="noreferrer" target="_blank"></a><a class="customicon twittericon" href="https://twitter.com/AniMixPlay" rel="noreferrer" target="_blank"></a><br>
</div>
</div>
<div class="footer">
<span class="bottomtext">
Watch HD Anime for Free ©2022 AniMixPlay
</span>
Disclaimer: This site does not store any files on its server. All contents are provided by non-affiliated third parties.
</div>
<div id="notifiaction"></div>
<div id="lastwatch">
<i onClick="lastwatchclose();" id="lastwatchclosebtn" class="glyphicon glyphicon-remove"></i>
Continue watching :<br>
<a id="lastwatchlink">
<div id="lastwatchtitle"></div>
<div id="lastwatchurl"></div>
</a>
</div>
<script type="text/javascript">
var nowtime = "2022-05-06 23:05:28";
var seasonaltmp = "";
var envYear = 2022;
var envSeason = 'Spring';
var curFeatured = parseInt(0);
</script>
</body>
</html>